@font-face {
  font-family: "IBMPlexMono";
  src: url("../files/fonts/IBMPlexMono-Light.woff2") format("woff2"),
    url("../files/fonts/IBMPlexMono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}
body {
  font-family: "IBMPlexMono", monospace;
  margin-top: 1rem;
}
.main__container {
  max-width: 666px;
  margin-inline: auto;
}
.responsive__images {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
.navbar {
  padding-block: 1rem;
}
.navbar-ul {
  display: flex;
  gap: 1.6rem;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid #0045a3;
  list-style-type: none;
}

.navbar-ul > li > a {
  color: rgb(41, 41, 253);
  padding: 0.1rem;
}
.navbar-ul > li > a:active {
  color: #d15aa3;
  outline: 2px dotted #d15aa3;
}
